.container {
  max-width: 50vw;
  margin: 4rem auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50%;
  margin: 0 auto;
}

.seperator {
  margin: 1.2rem auto;
  border-top: 1px solid white;
}

@media (max-width:576px) {
  .container {
    max-width: 80vw;
  }
}

@media (max-width:820px) {
  .container {
    max-width: 80vw;
  }
}
